<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8' />
    <title>Style circles with a data-driven property</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }

        #menu {
            background: #fff;
            position: absolute;
            z-index: 1;
            top: 10px;
            right: 10px;
            border-radius: 3px;
            width: 120px;
            border: 1px solid rgba(0,0,0,0.4);
            font-family: 'Open Sans', sans-serif;
        }

        #menu a {
            font-size: 13px;
            color: #404040;
            display: block;
            margin: 0;
            padding: 0;
            padding: 10px;
            text-decoration: none;
            border-bottom: 1px solid rgba(0,0,0,0.25);
            text-align: center;
        }

        #menu a:last-child {
            border: none;
        }

        #menu a:hover {
            background-color: #f8f8f8;
            color: #404040;
        }

        #menu a.active {
            background-color: #3887be;
            color: #ffffff;
        }

        #menu a.active:hover {
            background: #3074a4;
        }

    </style>
</head>
<body>

<div id='map'></div>
<nav id="menu"></nav>

<script th:inline="javascript">
    /*<![CDATA[*/
    // WY: #center=-107.2903,43.0760&zoom=7&limit=700000
    // Pgh: #center=-80.0,40.45&zoom=11&limit=600000
    // AK: #center=-149.4937,64.2008&zoom=4&limit=300000
    var CONTEXT = '/spewmap';
    var circleId = 'household-as-circle';
    var labelId = 'household-persons';
    var layerIds = [circleId, labelId];

    var hash = toDict(location.hash);
    console.log(hash);
    var m ={
        limit: toNumber(hash, 'limit') || 500000,
        center: toCenter(hash) || [-149.4937, 64.2008], // AK //[-80.0, 40.45] // PGH
        zoom: toNumber(hash, 'zoom') || 18
    };
    console.log(m);

    mapboxgl.accessToken = 'pk.eyJ1Ijoic2FoYXd1dDB5YWhvbyIsImEiOiJjamdjcnRlNmVhMm52MndudnBzcGYxMXM2In0.tunR_ko7G4z0bqKefTs-pw';
    var map = new mapboxgl.Map({
        container: 'map',
        // style: 'mapbox://styles/mapbox/light-v9',
        // style: 'mapbox://styles/tps23/cjggv0hzt001h2rlnzo7gy6rk', // WY z10=>20
        style: 'mapbox://styles/tps23/cjgntk6hs00052rppdqnkmi71', // PA z12
        zoom: m.zoom,
        center: m.center
    });
    map.on('load', onLoad);
    map.on('moveend', onMoveend);
    map.on('zoomend', function(){ console.log('Zoom=' + map.getZoom()) });

    function addSource(id, url) {
        map.addSource(id, {
            type: 'geojson',
            data: url + "?size=" + m.limit
        });
    }

    function loadHousehold() {
        var bbox = map.getBounds();
        var csv = toCsv(bbox);
        var url = CONTEXT + '/households/api/bbox/' + csv;

        var id = 'households';
        var source = map.getSource(id);
        if (source) {
            var circleLayer = map.getLayer(circleId);
            if (circleLayer)
                map.removeLayer(circleId);
            var labelLayer = map.getLayer(labelId);
            if (labelLayer)
                map.removeLayer(labelId);
            map.removeSource(id);
            addSource(id, url);
            addCircleLayer(circleId);
            if (labelLayer)
                addLabelLayer(labelId);
        } else {
            addSource(id, url);
            addCircleLayer(circleId);
            addLabelLayer(labelId);
        }
    }

    function addLabelLayer(id) {
        map.addLayer({
            id: id,
            type: 'symbol',
            source: 'households',
            minzoom: 18, //16, //17,// 18,
            layout: {
                'text-allow-overlap': true,
                'text-field': '{persons}',
                'text-offset': [0, 0]
            }
        });
    }

    function addCircleLayer(id) {
        map.addLayer({
            id: id,
            type: 'circle',
            source: 'households',
            visibility: map.autoLoadHousehold ? 'visible' : 'none',
            paint: {
                'circle-radius': {
                    base: 1.75,
                    // stops: [ [12, 1.75], [22, 1.75] ]
                    // stops: [ [12, 2], [22, 120] ] // 16
                    // stops: [ [12, 2], [22, 100] ] // 17
                    stops: [ [12, 2], [22, 50] ] // 18
                },
                'circle-color': 'orange' //'red'
            },
            filter: ['==', '$type', 'Point']
        });

        map.on('click', id, function (e) {
            var coordinates = e.features[0].geometry.coordinates.slice();
            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }
            new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(html(e))
                .addTo(map);
        });
        map.on('mouseenter', id, function () {
            map.getCanvas().style.cursor = 'pointer';
        });
        map.on('mouseleave', id, function () {
            map.getCanvas().style.cursor = '';
        });

        function html(e) {
            var obj = e.features[0].properties;
            // return JSON.stringify(obj);
            var html = '';
            for (var k in obj) {
                if (obj.hasOwnProperty(k)) {
                    html += ' <b>' + k + '</b>:' + obj[k];
                }
            }
            return html;
        }
    }

    function onLoad() {
        map.autoLoadHousehold = false;
        onMoveend();
    }

    function onMoveend() {
        if (map.autoLoadHousehold) {
            loadHousehold();
        }
    }

    function toCsv(bbox) {
        var e = bbox.getEast();
        var n = bbox.getNorth();
        var w = bbox.getWest();
        var s = bbox.getSouth();
        return e + ',' + n + ',' + w + ',' + s;
    }

    function toDict(query){
        var hash2Obj = query.replace("#", "")
            .split("&")
            .map( el => el.split("=") )
    .reduce( (pre, cur) => {
                    pre[cur[0]] = cur[1];
        return pre; }
    , {} );

        return hash2Obj;
    }

    function toCenter(hash) {
        var text = hash['center'];
        if (text && text.includes(",")){
            tokens = text.split(",");
            return [tokens[0].valueOf(), tokens[1].valueOf()];
        }
        return null
    }

    function toNumber(hash, key) {
        var text = hash[key];
        if (text){
            var value = text.valueOf();
            var maxValue = 325e4; // 35e5 = crash
            if (value > maxValue){
                console.log("Requested limit=" + value + " is too much; it might crash your browser. Set limit to " + maxValue + " to avoid the crash.");
                return maxValue;
            }
            return value;
        }
        return null;
    }

    var link = document.createElement('a');
    link.href = '#';
    link.className = ''; //'active';
    link.textContent = "Interactive";

    link.onclick = function (e) {
        e.preventDefault();
        e.stopPropagation();

        var visibility = map.autoLoadHousehold;
        map.autoLoadHousehold = !map.autoLoadHousehold;
        onMoveend();
        for (var i = 0; i < layerIds.length; i++) {
            var id = layerIds[i];
            if (visibility === true) {
                map.setLayoutProperty(id, 'visibility', 'none');
                this.className = '';
            } else {
                this.className = 'active';
                map.setLayoutProperty(id, 'visibility', 'visible');
            }
        }
    };

    var layers = document.getElementById('menu');
    layers.appendChild(link);
    /*]]>*/
</script>

</body>
</html>