<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>SPEW Map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='//cdnjs.cloudflare.com/ajax/libs/rxjs/5.5.10/Rx.min.js'></script>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.css' type='text/css'/>
    <style>
        #legend-control {
            position: absolute;
            bottom: 34px;
            left: 10px;
        }

        #menu-panel {
            display: inline-block;
        }

        #legend-panel {
            display: inline-block;
        }

        .legend {
            background-color: rgba(255, 255, 255, .8);
            padding: 0px;
            transform: translate(0%, 0%);
            display: none;
            border-radius: 5px;
            position: absolute;
            bottom: 0px;
        }

        .legend table {
            margin-left: auto;
            margin-right: auto;
        }

        .bubblecell {
            height: 4px;
            width: 4px;
            margin: auto;
            padding: 2px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        }

        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }

        .zoom-note {
            height: fit-content;
            width: fit-content;
            position: absolute;
            margin-left: 50px;
            border-radius: 5px;
            left: 0px;
            background-color: rgba(255, 255, 255, .8);
            padding: 10px;
            transform: translate(0%, 0%);
            display: none;
        }

        /* Show drawn polygon area */
        .calculation-box {
            height: fit-content;
            width: fit-content;
            position: absolute;
            margin-left: 50px;
            margin-bottom: 8px;
            border-radius: 5px;
            bottom: 0px;
            left: 100px;
            background-color: rgba(255, 255, 255, .8);
            padding: 3px;
            transform: translate(0%, 0%);
            /*text-align: center;*/
        }

        /* https://www.mapbox.com/mapbox-gl-js/example/queryrenderedfeatures/ */
        #features {
            position: absolute;
            top: 0;
            right: 10px;
            bottom: 10px;
            width: 300px;
            overflow: auto;
            background: rgba(255, 255, 255, 0.8);
            z-index: 1;
        }
        #map canvas {
            /*cursor: crosshair; !* Get features under the mouse pointer *!*/
        }

        /* https://www.mapbox.com/mapbox-gl-js/example/toggle-layers/ */
        #menu {
            background: #fff;
            border: 1px solid rgba(0,0,0,0.4);
            font-family: 'Open Sans', sans-serif;
            border-radius: 3px;
            display: inline-block;
        }

        #menu a {
            font-size: 13px;
            color: #404040;
            display: block;
            margin: 0;
            padding: 0;
            padding: 10px;
            text-decoration: none;
            border-bottom: 1px solid rgba(0,0,0,0.25);
            text-align: center;
        }

        #menu a:last-child {
            border: none;
        }

        #menu a:hover {
            background-color: #f8f8f8;
            color: #404040;
        }

        #menu a.active {
            background-color: #3887be;
            color: #ffffff;
        }

        #menu a.active:hover {
            background: #3074a4;
        }

        #menu-button {
            background-color: rgba(255, 255, 255, 0.8);
            border: 2px solid #dddddd;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div id='map'></div>

<div id='legend-control'>
    <div id='menu-panel'>
        <nav id='menu'></nav>
        <button id='menu-button'>&equiv;</button>
    </div>

    <div id='legend-panel'></div>
</div>

<pre id='features' style='display: none'></pre>
<!--<pre id='features'></pre> &lt;!&ndash;Get features under the mouse pointer&ndash;&gt;-->
<div class='zoom-note' id='zoom-note'>
    <span><i>Note that: some points are dropped at zoom lower than 14!</i></span>
</div>
<div class='calculation-box'>
    <span></b><b>Current Zoom</b> = <span id='zoom-level'> </span></span>
    <span id='calculated-area'></span>
</div>

<script>
    "use strict";
    var CONTEXT = '/spewmap/households/api';
    var theZoom = 14;
    var tokenForSummary = {cancel: function(){}};
    mapboxgl.accessToken = 'pk.eyJ1IjoidHBzMjMiLCJhIjoiVHEzc0tVWSJ9.0oYZqcggp29zNZlCcb2esA';
    var qs = queryString();
    var map = new mapboxgl.Map({
            style: 'mapbox://styles/mapbox/light-v9',
            zoom: qs['zoom'] || 3, // 9, //NYC // 3, //USA
            center: toCenter(qs) || [-107,43], //[-74.4714737, 40.4724525], // NYC // [-107,43], // USA
            container: 'map'
        }),
        menuButton = document.getElementById('menu-button');

    map.on('load', onLoad);

    function hideMenu() {
        var menu = document.getElementById('menu');

        menu.style.display = "none";
        menuButton.style.display = null;

        return;
    }

    function showMenu() {
       var menu = document.getElementById('menu');

        menu.style.display = "inline-block";
        menuButton.style.display = "none";

        return;
    }

    menuButton.onclick = showMenu;
    hideMenu();

    function onLoad() {
        // var srcId = 'microtest'; // races-> race & ages ->age
        var srcId = 'hh'; // usa with array & races-> races & ages ->age
        map.on('zoomend', onZoomend);
        onZoomend();

        addControls();
        addSource(srcId);
        addCircleLayers(srcId);
        addTheLabelLayer(srcId);

        function onZoomend(){
            var zoom = map.getZoom();
            console.log('zoom=' + zoom + '; bbox='+ JSON.stringify(map.getBounds()));
            var zoomLabel = document.getElementById('zoom-level');
            var zoomNote = document.getElementById('zoom-note');
            zoomLabel.innerHTML = zoom.toFixed(5);
            if (zoom >= theZoom)
                zoomNote.style.display = 'none';
            else
                zoomNote.style.display = 'block';
        }
        // map.on('mouseup', function (e) { // mousemove // Get features under the mouse pointer
        map.on('DISABLE-mouseup', function (e) { // mousemove // Get features under the mouse pointer
            var features = map.queryRenderedFeatures(e.point);
            document.getElementById('features').innerHTML = JSON.stringify(features, null, 2);
        });
    }

    function addSource(srcId) {
        map.addSource(srcId, { // Add a third party vector tile source https://www.mapbox.com/mapbox-gl-js/example/third-party/
            'type': 'vector',
            'tiles': ['https://spew.olympus.psc.edu/spewtiles/' + srcId + '/{z}/{x}/{y}.pbf'],
            // 'tiles': ['http://betaweb.rods.pitt.edu/spewtiles/density_test/{z}/{x}/{y}.pbf'],
            'minzoom': 0,
            'maxzoom': theZoom
        });
    }

    function addTheLabelLayer(srcId) {
        map.addLayer({
            id: 'label',
            type: 'symbol',
            source: srcId,
            'source-layer': srcId,
            minzoom: 19, //19
            layout: {
                'text-allow-overlap': true,
                'text-field': '{persons}',
                'text-offset': [0, 0]
            }
        });
    }

    function addCircleLayers(srcId) {
        var ageId = 'Householder Age';
        var raceId = 'Householder Race';
        var hhPersonsId = 'Size (Occupants)';
        var hhIncomeId = 'Income';
        var hhId = 'Household';
        var toggleableLayerIds = [ageId,
            raceId, hhPersonsId, hhIncomeId, hhId];

        addAgeTileLayer(ageId, srcId);
        addRaceTileLayer(raceId, srcId);
        addPersonsTileLayer(hhPersonsId, srcId);
        addIncomeTileLayer(hhIncomeId, srcId);
        addHouseholdTileLayer(hhId, srcId);

        makeCircleLayersToggleable();

        function addAgeTileLayer() {
            var circleColor = [
                'step',
                ['get', 'age'],
                'rgb(0, 0, 255)', 34,
                'rgb(51, 194, 255)', 44,
                'rgb(230, 152, 0)', 54,
                'rgb(255, 0, 0)', 64,
                'rgb(255, 0, 255)'
            ];
            addTileLayer(ageId, srcId, circleColor);
        }

        function addRaceTileLayer() {
            var circleColor = [
                'match',
                ['get', 'races'], // FIXME: regenerate geojson and use 'race'
                // ['get', 'race'],
                1, 'rgb(212, 44, 44)', //1 .White alone
                2, 'rgb(0, 169, 157)', // 2 .Black or African American alone
                6, 'rgb(153, 102, 255)',  // 6 .Asian alone
                9, '#646464', // 9 .Two or More Races
                'rgb(170, 147, 61)' // other
            ],
            raceCategories = {
                'mapping': {
                    1 : "White",
                    2 : "Black",
                    6 : "Asian",
                    9: "Other",
                },
                'endMapping': "Multiracial"
            }

            addTileLayer(raceId, srcId, circleColor, raceCategories);
        }

        function addIncomeTileLayer(id, srcId) {
            var circleColor = [
                'step',
                ['get', 'income'],
                'rgb(229, 159, 0)', 25000,
                'rgb(168, 116, 0)', 75000,
                'rgb(63, 115, 127)', 125000,
                'rgb(63, 115, 127)', 250000,
                'rgb(11, 181, 255)'
            ],
            incomeCategories = {
                'legend': 'Income (x $1000)',
                'mapping': {
                    25000: '0-25',
                    75000: '25-75',
                    125000: '75-125',
                    250000: '125-250'
                },
                'endMapping': '&ge; 250'
            };
            addTileLayer(id, srcId, circleColor, incomeCategories);
        }

        function addPersonsTileLayer(id, srcId) {
            var circleColor = [
                'match',
                ['get', 'persons'],
                1, rgb(67, 2, 252),
                2, rgb(7, 221, 249),
                3, rgb(242, 201, 15),
                4, rgb(242, 201, 15),
                rgb(239, 20, 93) // other
            ],
            sizeCategories = {
                'endMapping': "&ge; 5"
            };

            addTileLayer(id, srcId, circleColor, sizeCategories);
        }

        function addHouseholdTileLayer(id, srcId) {
            addTileLayer(id, srcId, 'orange');
        }

        function addLegend(legendID, circleColor, categoryValues) {
            var menuPanel = document.getElementById('legend-panel'),
                legendItem = document.createElement('div'),
                legendTitle = document.createElement('caption'),
                legendItemTable = document.createElement('table'),
                tableBody = document.createElement('tbody'),
                headerRow = document.createElement('tr'),
                header,
                contentRow = document.createElement('tr'),
                content,
                bubbleCell,
                categoryLegend = legendID,
                categoryMapping,
                categoryEndMapping,
                i;

            if(categoryValues) {
                if(categoryValues['legend']){
                    categoryLegend = categoryValues['legend'];
                }

                categoryMapping = categoryValues['mapping'];
                categoryEndMapping = categoryValues['endMapping'];
            }

            legendItem.classList.add("legend");
            legendItem.id = legendID;
            legendItem.style.display = "none";

            legendItemTable.style.textAlign = "left";
            //legendItemTable.style.width = "200px";
            legendItemTable.border = "0";
            legendItemTable.cellPadding = "2";
            legendItemTable.cellSpacing = "2";

            legendTitle.innerHTML = "<strong>" + categoryLegend + "</strong>";

            legendItemTable.appendChild(legendTitle);

            //console.log(legendID);
            //console.log(circleColor);
            //console.log("~~~~~");

            if(typeof(circleColor) === "string") {
                header = document.createElement('td');
                header.classList.add("legendtext");
                header.style.textAlign = "center";
                header.innerHTML = legendID;

                content = document.createElement('td');
                bubbleCell = document.createElement('div');
                bubbleCell.classList.add("bubblecell");
                bubbleCell.style.textAlign = "center";
                bubbleCell.style.backgroundColor = circleColor;

                content.appendChild(bubbleCell);
                contentRow.appendChild(content);
                headerRow.appendChild(header);

                tableBody.appendChild(contentRow);
                tableBody.appendChild(headerRow);
            }
            else {
                for(i = 2; i < circleColor.length; i += 2) {
                    header = document.createElement('td');
                    header.classList.add("legendtext");
                    header.style.textAlign = "center";

                    content = document.createElement('td');
                    bubbleCell = document.createElement('div');
                    bubbleCell.classList.add("bubblecell");
                    bubbleCell.style.textAlign = "center";

                    switch(circleColor[0]) {
                        case 'step':
                            if(categoryMapping && categoryMapping[circleColor[i+1]]) {
                                header.innerHTML = categoryMapping[circleColor[i+1]];
                            }
                            else {
                                if(i === 2) {
                                    header.innerHTML = "&le; " + circleColor[i+1];
                                }
                                else if((i+1) < circleColor.length){
                                    header.innerHTML = (1 + parseInt(circleColor[i-1])) + " - " + circleColor[i+1];
                                }
                                else {
                                    if(categoryEndMapping) {
                                        header.innerHTML = categoryEndMapping;
                                    }
                                    else{
                                        header.innerHTML = "&ge; " + (1 + parseInt(circleColor[i-1]));
                                    }
                                }
                            }

                            bubbleCell.style.backgroundColor = circleColor[i];
                        break;

                        case 'match':
                            if((i+1) < circleColor.length) {
                                bubbleCell.style.backgroundColor = circleColor[i+1];

                                if(categoryMapping && categoryMapping[circleColor[i]]) {
                                    header.innerHTML = categoryMapping[circleColor[i]];
                                }
                                else {
                                    header.innerHTML = circleColor[i];
                                }
                            }
                            else {
                                bubbleCell.style.backgroundColor = circleColor[i];

                                if(categoryEndMapping) {
                                    header.innerHTML = categoryEndMapping;
                                }
                                else {
                                   header.innerHTML = "Other";
                                }
                            }
                        break;

                        default:
                            alert("Undefined Format for " + legendID);
                            return;
                        break;
                    }

                    content.appendChild(bubbleCell);
                    contentRow.appendChild(content);
                    headerRow.appendChild(header);

                    tableBody.appendChild(contentRow);
                    tableBody.appendChild(headerRow);
                }
            }

            legendItemTable.appendChild(tableBody);
            legendItem.appendChild(legendItemTable);
            menuPanel.appendChild(legendItem);

            return;
        }

        function addTileLayer(id, srcId, circleColor, categoryValues) {
            map.addLayer({
                'id': id,
                'type': 'circle',
                'source': srcId,
                'source-layer': srcId,
                paint: {
                    'circle-radius': {
                        base: 1.75,
                        stops: [ [16, 2], [22, 40] ]
                    },
                    'circle-color': circleColor
                }
            }, 'waterway-label');
            makeLayerClickable(id, srcId);

            addLegend(id, circleColor, categoryValues);
        }

        function makeLayerClickable(id, srcId) {
            map.on('click', id, function (e) {
                var coordinates = e.features[0].geometry.coordinates.slice();
                // Ensure that if the map is zoomed out such that multiple
                // copies of the feature are visible, the popup appears
                // over the copy being pointed to.
                while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                }
                new mapboxgl.Popup()
                    .setLngLat(coordinates)
                    .setHTML(html(e))
                    .addTo(map);
            });
            map.on('mouseenter', id, function () {
                map.getCanvas().style.cursor = 'pointer';
            });
            map.on('mouseleave', id, function () {
                map.getCanvas().style.cursor = '';
            });

            function html(e) {
                var obj = e.features[0].properties;
                var html = '';
                for (var k in obj) {
                    if (obj.hasOwnProperty(k))
                        html += ' <b>' + k + '</b>:' + obj[k];
                }
                return html;
            }
        }

        function makeCircleLayersToggleable() {
            var id2link = {};
            for (var i = 0; i < toggleableLayerIds.length; i++) {
                var layerId = toggleableLayerIds[i];

                var link = document.createElement('a');
                link.href = '#';
                link.textContent = layerId;
                id2link[layerId] = link;
                if (layerId !== hhId)
                    hide.call(link, layerId);
                else
                    show.call(link, layerId);

                link.onclick = function (e) {
                    var clickedLayer = this.textContent;

                    e.preventDefault();
                    e.stopPropagation();
                    var visibility = map.getLayoutProperty(clickedLayer, 'visibility');

                    if (visibility === 'visible') {
                        hide.call(this, clickedLayer);
                    } else {
                        for (var i = 0; i < toggleableLayerIds.length; i++) {
                            var layer = toggleableLayerIds[i];
                            hide.call(id2link[layer], layer);
                        }
                        show.call(this, clickedLayer);
                    }

                    hideMenu();
                };
                var layers = document.getElementById('menu');
                layers.appendChild(link);
            }

            function show(id) {
                this.className = 'active';
                map.setLayoutProperty(id, 'visibility', 'visible');
                document.getElementById(id).style.display = 'block';
            }

            function hide(id) {
                this.className = '';
                map.setLayoutProperty(id, 'visibility', 'none');
                document.getElementById(id).style.display = 'none';
            }
        }

        function rgbToHex(rgb) {
            var hex = Number(rgb).toString(16);
            if (hex.length < 2) {
                hex = '0' + hex;
            }
            return hex;
        }

        function rgb(r, g, b) {
            var red = rgbToHex(r);
            var green = rgbToHex(g);
            var blue = rgbToHex(b);
            return '#' + red + green + blue;
        }
    }

    function addControls() {
        map.addControl(new mapboxgl.NavigationControl(), 'top-left');
        var draw = newMapboxDraw();
        map.addControl(draw, 'top-left');
        map.on('draw.create', updateQueryResult);
        map.on('draw.delete', updateQueryResult);
        map.on('draw.update', updateQueryResult);

        function updateQueryResult(e) {
            var features = document.getElementById('features');
            var featureCollection = draw.getAll();
            var answer = document.getElementById('calculated-area');
            if (featureCollection.features.length > 0) {
                features.onclick = function(){
                    tokenForSummary.cancel();
                    draw.deleteAll();
                    updateQueryResult(null);
                };
                features.style.display = 'block';
                var area = turf.area(featureCollection);
                // restrict to area to 2 decimal points
                var rounded_area = Math.round(area*100)/100;
                answer.innerHTML = '<span> The area of your polygon(s) is <strong>' + rounded_area + '</strong> square meters</span>';
                var url = CONTEXT + '/summarize';
                var combined = turf.combine(featureCollection);
                var geometry = combined.features[0].geometry;
                features.innerHTML = "<b>Please wait...</b> <br/> <br/>Loading with the below query: <br/>" + JSON.stringify(geometry, null, 1);
                tokenForSummary.cancel();
                Rx.Observable.fromPromise(postWithCancel(url, tokenForSummary, geometry))
                    .subscribe(function (response){
                        console.log(response);
                        features.innerHTML = "<b>Result of the querying polgon(s):</b><br/>" + JSON.stringify(JSON.parse(response), null, 2);
                    });
            } else {
                answer.innerHTML = '';
                features.style.display = 'none';
                if (e && e.type !== 'draw.delete') alert("Use the draw tools to draw a polygon!");
            }
        }

        function newMapboxDraw() {
            var color1 = '#D20C0C';
            var color2 = '#000';
            var color3 = '#FFF';

            var lineStokeActive = {
                id: 'gl-draw-line',
                type: 'line',
                filter: ['all', ['==', '$type', 'LineString'], ['!=', 'mode', 'static']],
                layout: {
                    'line-cap': 'round',
                    'line-join': 'round'
                },
                paint: {
                    'line-color': color1,
                    'line-dasharray': [0.2, 2],
                    'line-width': 2
                }
            }, polygonFillActive = {
                id: 'gl-draw-polygon-fill',
                type: 'fill',
                filter: ['all', ['==', '$type', 'Polygon'], ['!=', 'mode', 'static']],
                paint: {
                    'fill-color': color1,
                    'fill-outline-color': color1,
                    'fill-opacity': 0.1
                }
            }, polygonOutlineActive = {
                // This doesn't style the first edge of the polygon, which uses the line stroke styling instead
                id: 'gl-draw-polygon-stroke-active',
                type: 'line',
                filter: ['all', ['==', '$type', 'Polygon'], ['!=', 'mode', 'static']],
                layout: {
                    'line-cap': 'round',
                    'line-join': 'round'
                },
                paint: {
                    'line-color': color1,
                    'line-dasharray': [0.2, 2],
                    'line-width': 2
                }
            }, vertexPointHalosActive = {
                id: 'gl-draw-polygon-and-line-vertex-halo-active',
                type: 'circle',
                filter: ['all', ['==', 'meta', 'vertex'], ['==', '$type', 'Point'], ['!=', 'mode', 'static']],
                paint: {
                    'circle-radius': 5,
                    'circle-color': color3
                }
            }, vertexPointsActive = {
                id: 'gl-draw-polygon-and-line-vertex-active',
                type: 'circle',
                filter: ['all', ['==', 'meta', 'vertex'], ['==', '$type', 'Point'], ['!=', 'mode', 'static']],
                paint: {
                    'circle-radius': 3,
                    'circle-color': color1
                }
            };
            var lineStokeInactive = {
                id: 'gl-draw-line-static',
                type: 'line',
                filter: ['all', ['==', '$type', 'LineString'], ['==', 'mode', 'static']],
                layout: {
                    'line-cap': 'round',
                    'line-join': 'round'
                },
                paint: {
                    'line-color': color2,
                    'line-width': 3
                }
            }, polygonFillInactive = {
                id: 'gl-draw-polygon-fill-static',
                type: 'fill',
                filter: ['all', ['==', '$type', 'Polygon'], ['==', 'mode', 'static']],
                paint: {
                    'fill-color': color2,
                    'fill-outline-color': color2,
                    'fill-opacity': 0.1
                }
            }, polygonOutlineInactive = {
                id: 'gl-draw-polygon-stroke-static',
                type: 'line',
                filter: ['all', ['==', '$type', 'Polygon'], ['==', 'mode', 'static']],
                layout: {
                    'line-cap': 'round',
                    'line-join': 'round'
                },
                paint: {
                    'line-color': color2,
                    'line-width': 3
                }
            };

            return new MapboxDraw({
                displayControlsDefault: false,
                styles: [
                    // ACTIVE (being drawn)
                    lineStokeActive,
                    polygonFillActive,
                    polygonOutlineActive,
                    vertexPointHalosActive,
                    vertexPointsActive,
                    // INACTIVE (static, already drawn)
                    lineStokeInactive,
                    polygonFillInactive,
                    polygonOutlineInactive
                ],
                controls: {
                    polygon: true,
                    trash: true
                }
            });
        }
    }

    function requestWithCancel(method, url, token, body) {
        var request = new XMLHttpRequest();
        request.open(method, url);
        if (body){
            request.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            body = JSON.stringify(body);
        }
        request.send(body);
        return new Promise(
            function (resolve, reject) {
                request.onload = function () {
                    resolve(request.responseText);
                };
                token.cancel = function () {
                    request.abort();
                    reject(new Error('Cancelled')); // reject the promise
                };
                request.onerror = reject;
            }
        );
    }

    function getWithCancel(url, token) { // the token is for cancellation
        return requestWithCancel('GET', url, token);
    }

    function postWithCancel(url, token, body) { // the token is for cancellation
        return requestWithCancel('POST', url, token, body);
    }

    function queryString() {
        return (function(a) {
            if (a === '') return {};
            var b = {};
            for (var i = 0; i < a.length; ++i)
            {
                var p=a[i].split('=', 2);
                if (p.length === 1)
                    b[p[0]] = '';
                else
                    b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, ' '));
            }
            return b;
        })(window.location.search.substr(1).split('&'));
    }

    function toCenter(qs) {
        var text = qs['center'],
            tokens;
        if (text && text.includes(',')){
            tokens = text.split(',');
            return [tokens[0].valueOf(), tokens[1].valueOf()];
        }
        return null
    }
</script>
</body>
</html>
