<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8' />
    <title>SPEW Map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

<!-- Site Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122846038-1"></script>

    <!-- Google Analytics -->
    <script async src='https://www.google-analytics.com/analytics.js'></script>

    <script async th:src='@{js/site-analytics.js}'></script>
<!-- End Site Analytics -->

    <script src='//cdnjs.cloudflare.com/ajax/libs/rxjs/5.5.10/Rx.min.js'></script>

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.css' type='text/css'/>
    <link th:href='@{css/tile.css}' rel='stylesheet' />

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js' defer></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js' defer></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.js' defer></script>
    <script th:src='@{js/spew-format.js}' defer></script>
    <script th:src='@{js/country-source-ids.js}' defer></script>
    <script th:src='@{js/tile.js}' defer></script>
</head>

<body>
    <div id='map'></div>

    <div id='menu-panel'>
        <button id='menu-button'>&equiv;</button>
        <nav id='menu'></nav>
    </div>

    <div id='legend-panel'></div>

    <div id='features-container'>
        <button id='features-close-button' hidden>x</button>
        <pre id='features' style='display: none'></pre>
        <!--<pre id='features'></pre> &lt;!&ndash;Get features under the mouse pointer&ndash;&gt;-->
    </div>

    <div class='' id='copyright'>
        <div id='product-name'><span><strong>© SPEWMap</strong></span></div>
        <div><span><i>Copyright 2018. University of Pittsburgh, Carnegie Mellon University.</i></span></div>
    </div>
    <div class='zoom-note' id='zoom-note'>
        <span id='zoom-note-text' hidden><i>Some points cannot render at zoom lower than 14</i></span>
        <button id='zoom-note-button'>&#9888;</button>
    </div>
    <div class='calculation-box'>
        <span><b>Current Zoom</b> = <span id='zoom-level'> </span></span>
        <span id='calculated-area'></span>
    </div>
</body>
</html>
